<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loginutils.dal.mappers.PermissionMapper">

    <resultMap id="BaseResultMap" type="org.loginutils.dal.model.PermissionDo">
        <id column="PermissionId" property="permissionId" jdbcType="BIGINT"/>
        <result column="SystemId" property="systemId" jdbcType="BIGINT"/>
        <result column="ParentId" property="parentId" jdbcType="BIGINT"/>
        <result column="PermissionCode" property="permissionCode" jdbcType="VARCHAR"/>
        <result column="PermissionName" property="permissionName" jdbcType="VARCHAR"/>
        <result column="Type" property="type" jdbcType="TINYINT"/>
        <result column="Status" property="status" jdbcType="TINYINT"/>
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="org.loginutils.dal.model.PermissionDo" useGeneratedKeys="true" keyProperty="permissionId">
        INSERT INTO k_permission (SystemId, ParentId, PermissionCode, PermissionName, Type, Status, CreateTime, UpdateTime)
        VALUES (#{systemId}, #{parentId}, #{permissionCode}, #{permissionName}, #{type}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT * FROM k_permission WHERE PermissionId = #{permissionId}
    </select>

    <select id="selectPermissionsByUserIdAndSystemId" resultType="org.loginutils.dal.model.PermissionDo">
        SELECT DISTINCT p.*
        FROM k_user_role ur
                 JOIN k_role r ON ur.RoleId = r.RoleId
                 JOIN k_role_permission rp ON r.RoleId = rp.RoleId
                 JOIN k_permission p ON rp.PermissionId = p.PermissionId
        WHERE ur.UserId = #{userId}
          AND ur.SystemId = #{systemId}  AND p.SystemId = #{systemId}   AND p.Status = 1
          AND r.Status = 1
    </select>

</mapper>
