<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loginutils.dal.mappers.UserMapper">

    <select id="findList" resultType="org.loginutils.dal.model.UserDo">
        SELECT *
        FROM k_user
        WHERE Username = #{username}
    </select>

    <select id="findByLogin" resultType="org.loginutils.dal.model.UserDo">
        SELECT *
        FROM k_user
        WHERE Username = #{username}
    </select>

    <insert id="insert">
        INSERT INTO k_user (Username, Password, Status, CreateTime, UpdateTime)
        VALUES (#{username}, #{password}, #{status}, NOW(), NOW())
    </insert>

</mapper>
