<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loginutils.dal.mappers.UserMapper">

    <select id="findLogin" resultType="org.loginutils.dal.model.UserDo">
        SELECT *
        FROM k_user
        WHERE Username = #{username}
    </select>

    <insert id="insert">
        INSERT INTO k_user (Username, Password, Status, CreateTime, UpdateTime)
        VALUES (#{username}, #{password}, #{status}, NOW(), NOW())
    </insert>

    <update id="update" parameterType="org.loginutils.dal.model.UserDo" keyProperty="userId" keyColumn="UserId"
            flushCache="true">
        UPDATE k_user
        <set>
            <if test="@org.loginutils.dal.utils.Ognl@check(password)">
                Password = #{password},
            </if>
            <if test="@org.loginutils.dal.utils.Ognl@check(status)">
                Status = #{status},
            </if>
            <if test="@org.loginutils.dal.utils.Ognl@check(failedLoginCount)">
                FailedLoginCount = #{failedLoginCount},
            </if>
            <if test="@org.loginutils.dal.utils.Ognl@checkNotNull(memo)">
                Memo = #{memo},
            </if>
<!--            <if test="@org.loginutils.dal.utils.Ognl@check(email)">-->
<!--                Email = #{email},-->
<!--            </if>-->
<!--            <if test="@org.loginutils.dal.utils.Ognl@check(phone)">-->
<!--                Phone = #{phone},-->
<!--            </if>-->
<!--            <if test="@org.loginutils.dal.utils.Ognl@check(parentId)">-->
<!--                ParentId = #{parentId},-->
<!--            </if>-->
<!--            <if test="@org.loginutils.dal.utils.Ognl@check(roleId)">-->
<!--                RoleId = #{roleId},-->
<!--            </if>-->
<!--            <if test="@org.loginutils.dal.utils.Ognl@check(nickname)">-->
<!--                Nickname = #{nickname},-->
<!--            </if>-->
<!--            Updater = #{updater},-->
            UpdateTime = NOW()
        </set>
        WHERE UserId = #{userId}
    </update>

    <update id="increaseFailedLogin">
        UPDATE k_user
        SET FailedLoginCount = FailedLoginCount + 1,
            LoginTime        = NOW()
        WHERE UserId = #{userId}
    </update>

    <update id="updateLogin" keyProperty="userId" keyColumn="UserId" flushCache="true">
        UPDATE k_user
        SET LoginTime        = NOW(),
            FailedLoginCount = 0,
            LoginIp = #{loginIp}
        WHERE UserId = #{userId}
    </update>

</mapper>
