<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.loginutils.dal.mappers.UserRoleMapper">

    <select id="findRolesByUserId" resultType="org.loginutils.dal.model.UserRoleDo">
        SELECT
            ur.Id         AS id,
            ur.UserId     AS userId,
            ur.RoleId     AS roleId,
            r.RoleCode    AS roleCode,
            r.RoleName    AS roleName,
            r.SystemId    AS systemId,
            s.SystemCode  AS systemCode,
            s.SystemName  AS systemName
        FROM k_user_role ur
        INNER JOIN k_role r ON ur.RoleId = r.RoleId AND r.Status = 1
        INNER JOIN k_system s ON r.SystemId = s.SystemId AND s.Status = 1
        WHERE ur.UserId = #{userId}
    </select>

    <insert id="insertUserRole" parameterType="org.loginutils.dal.model.UserRoleDo">
        INSERT INTO k_user_role (UserId, RoleId)
        VALUES (#{userId}, #{roleId})
    </insert>

</mapper>
